<div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><h1>Welcome Admin</h1></span>
  
    <div class="btn-group" role="group" aria-label="Basic example" >
       
        <button class="btn" routerLink="/adminviewoutlets">Distribution Outlets</button>
    </div>
  
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn" routerLink="/addoutlet">Add New Outlet</button>
        <button class="btn" routerLink="/editdeleteoutlet" >Edit/Delete Outlets</button>
    </div>
    <br><br>
  </div>

  <div class="formblock">
      <form  [formGroup]="deleteoutletform" (ngSubmit)="onSubmit()">
        <label>
            Outlet:
            <select formControlName="id">
                <option *ngFor="let outlet of outletdata; let i = index" [ngValue]="outlet.id">
                  {{outlet.outletName}}
                </option>
            </select>
        </label>
        <br><br>
        <button class="btnn" type="submit">Delete Outlet</button>
      </form>
  </div>
