<h3>Outlets</h3>
<aside id="sidebar">
  <div class="dark">
    <h3>Did you know ?</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, beatae vero facilis rem corrupti molestias, voluptate dolor harum soluta veritatis optio dolorem ratione nulla voluptatibus, laboriosam cupiditate nemo minima. Corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laudantium quo nihil ea culpa ex repudiandae deleniti impedit, minima, qui itaque, eveniet eligendi porro velit dolorem quod dicta? Voluptate, esse.
    </p>
  </div>
</aside>
 
<table class="outlettable">
    <tr>
        <th>Outlet Name</th>
        <th>Street Name</th>
        <th>Landmark</th>
        <th>Available Food Packets</th>
        <th>Food Type</th>
        <th>Volunteers Required</th>
        <th>Open On</th>
      </tr>
      <tr *ngFor="let outlet of outletdata; let i= index">
        <td>{{outlet.outletName}}</td>
        <td>{{outlet.streetName}}</td>
        <td>{{outlet.landmark}}</td>
        <td>{{outlet.totalAvailableFoodPackets}}</td>
        <td>{{foodType[outlet.foodType]}}</td>
        <td>{{outlet.requiredNoOfVolunteers}}</td>
        <td>{{outlet.date |  date:'d/M/y'}}</td>
      </tr>
  </table>
  <div>
   <h4>Volunteer</h4>
   <p>If you're interested to volunteer in the distribution of food to the needy, join our cause. Are you interested in volunteering in one of our outlets?
   <button class="btn" routerLink="/volunteers">
     Yes, I'm Interested.
   </button>
  </p>
  
  </div>
