<h3 class="outlet-heading">Outlets</h3>
<aside id="sidebar">
  <div class="dark">
    <h3>Did you know ?</h3>
    <p>
      Gotham Cares Charitable Society has saved millions of lives all across the globe.  </p> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus sint quaerat veritatis ratione veniam corrupti, minus quae consequuntur doloribus quidem ut asperiores aut quis laborum eius autem ipsa eos fuga.</p>
  
  </div>
</aside>
 
<table class="outlettable">
    <tr>
        <th>Outlet Name</th>
        <th>Street Name</th>
        <th>Landmark</th>
        <th>Available Food Packets</th>
        <th>Food Type</th>
        <th>Volunteers Required</th>
        <th>Open On</th>
      </tr>
      <tr *ngFor="let outlet of outletdata; let i= index">
        <td>{{outlet.outletName}}</td>
        <td>{{outlet.streetName}}</td>
        <td>{{outlet.landmark}}</td>
        <td>{{outlet.totalAvailableFoodPackets}}</td>
        <td>{{foodType[outlet.foodType]}}</td>
        <td>{{outlet.requiredNoOfVolunteers}}</td>
        <td>{{outlet.date |  date:'d/M/y'}}</td>
      </tr>
  </table>
  <div class="volunteer">
   <h3>Volunteers Needed</h3>
   <p>If you're interested to volunteer in the distribution of food to the needy, join our cause. Are you interested in volunteering in one of our outlets?
   
  </p>
  <p>
    <button class="btn" routerLink="/volunteers">
      Yes, I'm Interested.
    </button>
  </p>
  
 
  
  </div>
