form {
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:10px;
    background:#e6e6e6;
    width: 20%;
  }

 div{
    margin-left: 50px;
 } 

 button{
  
        text-decoration: none;
        color: #ffff;
        background:#073b4c;
        padding: 0.3rem;
        border: none;
       
}

button:hover{

        background-color: #ef476f;
}