<!-- <h2>Food Distribution to the needy</h2>
<p>GCCS is organizing a food donation to the needy and is in need of volunteers. The food is distributed at outlets across the state. Check out the link below to see the outlets</p>
<a routerLink="/outlets">Show all Outlets</a> -->
<section id="main">
    <div class="container">
      <article id="main-col">
        <h1></h1>
        <ul id="events">
          <li>
            <h3>Food Distribution</h3>
            <p>GCCS is organizing a food donation to the needy and is in need of volunteers. The food is distributed at outlets across the state.  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui a quis fugiat, pariatur temporibus incidunt dolorem quibusdam, architecto labore vero, numquam omnis quam perferendis aperiam libero impedit eligendi voluptas.</p>
            <a routerLink="/outlets">SHOW ALL OUTLETS</a>
          </li>
          <li>
            <h3>Scholarship Programme</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus fuga vitae ducimus officia aut eaque voluptas. Eaque, officia nihil nobis quam dignissimos quas doloribus perferendis et adipisci voluptatibus repellat? .The food is distributed at outlets across the state.  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui a quis fugiat, pariatur temporibus incidunt dolorem quibusdam, architecto labore vero, numquam omnis quam perferendis aperiam libero impedit eligendi voluptas.</p>
            
          </li>
         
         
        </ul>
      </article>
    </div>
  </section>
