<section id="showcase">
    <div class="container">
      <h1>A helping hand to turn tears to smiles</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos sed nisi nostrum magnam explicabo alias in obcaecati perspiciatis commodi vel vitae aliquam enim voluptatem, amet earum reiciendis! Dolore, saepe?</p>
    </div>
  </section>