<section id="main">
    <div class="container">
      <article id="main-col">
        <h1 class="page-title">Contact Us</h1>
        <ul id="contactinfo">
          <li>
            <h3>Head Quarters</h3>
            <p>Some street, Some town, Some place <br>Phone:2312312 <br>Email: 1231@email.com</p>
                        <p>Working hours: 09:00 to 17:00</p>
          </li>
          <li>
            <h3>Gotham City Office</h3>
            <p>Some street, Some town, Some place <br>Phone:2312312 <br>Email: 1231@email.com</p>
            <p>Working hours: 09:00 to 17:00</p>
          </li>
          <br>
          <br>
          <br>
          
        </ul>
      </article>
    </div>
  </section>
